---
import Box from "../component/Box.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro x TokenCSS</h1>

    <ul>
      {
        ["blue", "red", "green"].map((color: any) => (
          <li>
            <Box color={color} />
          </li>
        ))
      }
    </ul>

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      ul {
        display: flex;
        list-style: none;
        gap: sm;
      }
      body {
        padding: lg;
      }
      h1 {
        font-family: sans;
        color: gray.8;
        margin-bottom: md;
      }
    </style>
  </body>
</html>
